.splash
  .hero
    .head
      Notation @ Ben's Potatoes
    .body
      = render partial: 'shared/flash'
      .devise_form
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = devise_error_messages!
          .entry_form_section
            .form_field
              = f.text_field :username, autofocus: true, placeholder: 'Username', autocomplete: 'off'
          .entry_form_section
            .form_field
              = f.email_field :email, placeholder: 'Email', autocomplete: 'off'
          .entry_form_section
            .form_field
              = f.password_field :password, autocomplete: "off", placeholder: 'Password', autocomplete: 'off'
          .entry_form_section
            .form_field
              = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password'
          = f.submit "Sign up", class: 'submit'