= form_tag @entry_form_path, method: @entry_form_request, multipart: true do
  .entry_form_section
    .form_field
      = text_field_tag 'entry[title]', @entry ? @entry.decrypted_title : nil, placeholder: for_read_entry? ? 'Entry title (set automatically by URL)' : 'Entry title', class: 'entry_form_input entry_form_text_field'
  - if for_read_entry? && @new_read_entry
    .entry_form_section
      .form_field
        = url_field_tag 'entry[url]', @entry && (@read_entry = @entry.read_entry) ? @read_entry.url : nil, placeholder: 'Entry url (or attach a PDF below)', class: 'entry_form_input entry_form_text_field'
    - if can_upload_file?
      .entry_form_section
        .form_field
          = file_field_tag 'entry[attachment]', class: 'entry_form_input entry_form_file_field', accept: 'application/pdf'
  - else
    - if @entry
      .entry_form_section
        = @entry.read_entry.try(:url) || @entry.read_entry.try(:attachment_file_name)

  .entry_form_section
    .form_field
      = text_area_tag 'entry[body]', @entry ? @entry.decrypted_body : nil, placeholder: 'Entry body', class: 'entry_form_input entry_form_text_area'
  .entry_form_section
    .form_field
      = text_field_tag 'entry[tags]', @entry ? @entry.decrypted_tags : nil, placeholder: 'Entry tags', class: 'entry_form_input entry_form_text_field'
  = submit_tag 'Save', class: 'submit'