= form_tag @entry_form_path, method: @entry_form_request, multipart: true do
  .entry_form_section
    .form_field
      = text_field_tag 'entry[title]', @entry ? @entry.decrypted_title : nil, placeholder: for_read_entry? ? 'Entry title, set automatically' : 'Entry title', class: 'entry_form_input entry_form_text_field', disabled: for_read_entry?
  - if for_read_entry?
    .entry_form_section
      .form_field
        = url_field_tag 'entry[url]', @entry && (@read_entry = @entry.read_entry) ? @read_entry.url : nil, placeholder: 'Entry url', class: 'entry_form_input entry_form_text_field'
    .entry_form_section
      .form_field
        = file_field_tag 'entry[attachment]', placeholder: 'Entry attachment', class: 'entry_form_input entry_form_file_field'
  .entry_form_section
    .form_field
      = text_area_tag 'entry[body]', @entry ? @entry.decrypted_body : nil, placeholder: 'Entry body', class: 'entry_form_input entry_form_text_area'
  .entry_form_section
    .form_field
      = text_field_tag 'entry[tags]', @entry ? @entry.decrypted_tags : nil, placeholder: 'Entry tags', class: 'entry_form_input entry_form_text_field'
  = submit_tag 'Save', class: 'submit'