= form_tag update_profile_path, method: :put do
  - if current_user.respond_to?(:username)
    .profile_form_section
      .form_field
        = text_field_tag 'profile[username]', current_user.username, placeholder: 'Username', size: 25
  .profile_form_section
    .form_field
      = text_field_tag 'profile[email]', current_user.email, placeholder: 'Email', size: 25
  .profile_form_section
    .form_field
      = password_field_tag 'profile[current_password]', nil, placeholder: 'Current password', size: 25
  = submit_tag 'Save', class: 'submit'

